:root{
    --main-color: rgba(000, 016, 064, 1);
    --secundary-color: rgba(000, 024, 096, 1);
    --page-min-height: calc(100vh - 48px - 80px - var(--padding-gap) - var(--padding-gap));
    --gap: 8px;
    --padding-gap: calc(var(--gap) * 2);
}
::-webkit-scrollbar{
    display: none;
}
* {
    user-select: none;
    margin: 0px;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #F2F2F8;
    margin: 0;
    padding: 0;
}
header {
    max-width: 100%;
    padding: var(--gap);
    height: calc(48px - var(--padding-gap));
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
}
main {
    width: 100%;
    min-height: var(--page-min-height);
}
main .page{
    min-height: var(--page-min-height);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - var(--gap) * 6);
    margin: var(--padding-gap);
    background-color: white;
    padding: var(--gap);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    align-content: center;
    justify-content: center;
}
main .page .col1 {
    width: calc(512px);
    max-width: calc(25%);
    min-height: var(--page-min-height);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
main .page .col1 #materials-container {
    min-height: 64px;
    width: 100%;
    background-color: aqua;
}
main .page .col2 {
    width: calc(100% - 512px - var(--padding-gap));
    min-width: calc(75% - var(--padding-gap));
    min-height: var(--page-min-height);
    display: flex;
    gap: var(--padding-gap);
    flex-direction: column;
}
#characters-container, #weapons-container {
    min-height: 64px;
    width: 100%;
}
nav {
    width: calc(100% - var(--padding-gap) - var(--gap));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: var(
    --gap);
    padding: calc(var(--gap) / 2);
    gap: calc(var(--gap) / 2);
}
nav input{
    width: calc(100% - (34px + 34px + 48px + var(--gap)) + 8px);
    padding: 8px;
    display: inline-block;
    height: calc(32px - var(--gap) - 16px);
    border-radius: var(--gap) 0 0 var(--gap);
    border: 0px;
    background-color: rgb(238 238 238);
    overflow: hidden;
}
nav .button-search {
    width: calc(32px - var(--gap));
    height: calc(32px - var(--gap));
    padding: 0px;
    display: inline-block;
    border: 0px;
    color: rgb(000 128 128);
}
nav .button-search:hover{
    background-color: rgb(0, 255, 255);
}
nav .button-filter{
    width: calc(32px - var(--gap));
    height: calc(32px - var(--gap));
    padding: 0px;
    display: inline-block;
    border: 0px;
    color: rgb(128 000 128);
}
nav .button-filter:hover{
    background-color: rgb(255, 000, 255);
}
nav .button-add{
    width: calc(48px - var(--gap));
    height: calc(32px - var(--gap));
    padding: 0px;
    display: inline-block;
    border-radius: 0 var(--gap) var(--gap) 0;
    border: 0px;
    color: rgb(0, 128, 0);
}
nav .button-add:hover{
    background-color: rgb(000, 255, 000);
}
nav .options {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: var(--gap);
    text-align: center;
}
nav .options select{
    border: 0px;
}
container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% / 3 - var(--gap) * 4);
    margin: var(--gap);
    border-radius: var(--gap);
    padding: var(--gap);
    gap: var(--gap);
    box-shadow: 0 0 4px black;
}
item[name*="Quality5"]{background-color: rgb(255, 192, 000, 0.25);}
item[name*="Quality4"]{background-color: rgb(192, 000, 255, 0.25);}
item .name {width: 100%;text-align: center;}
item .move {    width: 28px;
    text-align: center;
    height: 28px;
    margin-left: calc(100% - var(--padding-gap) - 4px - var(--gap));
    margin-top: -36px;}
item .images {
    width: 96px;
    height: 96px;
    display: flex;
    margin-left: calc((100% - 96px) / 2);
    margin-right: calc((100% - 96px) / 2);
}
item .images .image-icon { 
    width: 96px; 
    height: 96px; 
}
item .images .image-element {
    width: 32px;
    height: 32px;
    margin-right: -32px;
    filter: drop-shadow(0px 0px 4px black);
}
item .images .image-weapon {
    width: 32px;
    height: 32px;
    margin-left: -32px;
    filter: drop-shadow(0px 0px 4px black);
}
item .data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
item .data .data-col1 { width: 50%; }
item .data .data-col2 { width: 50%; }
item .talents {text-align: center;}
item .constellation {text-align: center;width: calc(100% / 3 * 2);}
item .data .level {text-align: center;width: calc(100% / 3 * 2);}

/* <footer> */
footer {
    max-width: 100%;
    padding: var(--gap);
    height: calc(64px - var(--padding-gap));
    background-color: var(--main-color);
    color: var(--secundary-color);
}

    
    
/* </footer> */

@media screen and (max-width: 768px) {
    main .page {
        min-height: var(--page-min-height);
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: flex-end;
    }
    main .page .col1 {
        max-width:  100%;
        width:      100%;
        min-width:  100%;
        min-height: 00px;
    }
    main .page .col2 {
        max-width:  100%;
        width:      100%;
        min-width:  100%;
        min-height: 00px;
    }
}
@media screen and (max-width: calc(512px * 21.5)) { item { width: calc(100% / 40 - 32px); } }
@media screen and (max-width: calc(512px * 20.0)) { item { width: calc(100% / 39 - 32px); } }
@media screen and (max-width: calc(512px * 20.5)) { item { width: calc(100% / 38 - 32px); } }
@media screen and (max-width: calc(512px * 19.0)) { item { width: calc(100% / 37 - 32px); } }
@media screen and (max-width: calc(512px * 19.5)) { item { width: calc(100% / 36 - 32px); } }
@media screen and (max-width: calc(512px * 18.0)) { item { width: calc(100% / 35 - 32px); } }
@media screen and (max-width: calc(512px * 18.5)) { item { width: calc(100% / 34 - 32px); } }
@media screen and (max-width: calc(512px * 17.0)) { item { width: calc(100% / 33 - 32px); } }
@media screen and (max-width: calc(512px * 17.5)) { item { width: calc(100% / 32 - 32px); } }
@media screen and (max-width: calc(512px * 16.0)) { item { width: calc(100% / 31 - 32px); } }
@media screen and (max-width: calc(512px * 16.0)) { item { width: calc(100% / 30 - 32px); } }
@media screen and (max-width: calc(512px * 15.5)) { item { width: calc(100% / 29 - 32px); } }
@media screen and (max-width: calc(512px * 15.0)) { item { width: calc(100% / 28 - 32px); } }
@media screen and (max-width: calc(512px * 14.5)) { item { width: calc(100% / 27 - 32px); } }
@media screen and (max-width: calc(512px * 14.0)) { item { width: calc(100% / 26 - 32px); } }
@media screen and (max-width: calc(512px * 13.5)) { item { width: calc(100% / 25 - 32px); } }
@media screen and (max-width: calc(512px * 13.0)) { item { width: calc(100% / 24 - 32px); } }
@media screen and (max-width: calc(512px * 12.5)) { item { width: calc(100% / 23 - 32px); } }
@media screen and (max-width: calc(512px * 12.0)) { item { width: calc(100% / 22 - 32px); } }
@media screen and (max-width: calc(512px * 11.5)) { item { width: calc(100% / 21 - 32px); } }
@media screen and (max-width: calc(512px * 11.0)) { item { width: calc(100% / 20 - 32px); } }
@media screen and (max-width: calc(512px * 10.5)) { item { width: calc(100% / 19 - 32px); } }
@media screen and (max-width: calc(512px * 10.0)) { item { width: calc(100% / 18 - 32px); } }
@media screen and (max-width: calc(512px *  9.5)) { item { width: calc(100% / 17 - 32px); } }
@media screen and (max-width: calc(512px *  9.0)) { item { width: calc(100% / 16 - 32px); } }
@media screen and (max-width: calc(512px *  8.5)) { item { width: calc(100% / 15 - 32px); } }
@media screen and (max-width: calc(512px *  8.0)) { item { width: calc(100% / 14 - 32px); } }
@media screen and (max-width: calc(512px *  7.5)) { item { width: calc(100% / 13 - 32px); } }
@media screen and (max-width: calc(512px *  7.0)) { item { width: calc(100% / 12 - 32px); } }
@media screen and (max-width: calc(512px *  6.5)) { item { width: calc(100% / 11 - 32px); } }
@media screen and (max-width: calc(512px *  6.0)) { item { width: calc(100% / 10 - 32px); } }
@media screen and (max-width: calc(512px *  5.5)) { item { width: calc(100% / 09 - 32px); } }
@media screen and (max-width: calc(512px *  5.0)) { item { width: calc(100% / 08 - 32px); } }
@media screen and (max-width: calc(512px *  4.5)) { item { width: calc(100% / 07 - 32px); } }
@media screen and (max-width: calc(512px *  4.0)) { item { width: calc(100% / 06 - 32px); } }
@media screen and (max-width: calc(512px *  3.5)) { item { width: calc(100% / 05 - 32px); } }
@media screen and (max-width: calc(512px *  3.0)) { item { width: calc(100% / 04 - 32px); } }
@media screen and (max-width: calc(512px *  2.5)) { item { width: calc(100% / 03 - 32px); } }
@media screen and (max-width: calc(512px *  2.0)) { item { width: calc(100% / 02 - 32px); } }
@media screen and (max-width: calc(512px *  0.5)) { item { width: calc(100% / 01 - 32px); } }
